#login {
  width: calc(100% - 50px);
  max-width: 674px;
  margin: 0 auto;
  padding: 97px 87px 87px;
  border-radius: 0 0 16px 16px;
  background-color: var(--color-dark-main);
}

#login h1 {
  font-size: 28px;
  line-height: 38px;
  color: var(--color-white);
  margin: 84px 0 48px;
}

#login input,
#login button {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 20px 16px;
  border-radius: 16px;
}

#login input {
  margin: 24px 0;
  background-color: var(--color-lighter-gray);
}

#login button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  background-color: var(--color-white);
  cursor: pointer;
}
